.start-btn {
  background-color: rgb(120, 80, 180);
  color: white;
  border: none;
  padding: 12px 21px;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 7px;
  transition: background-color 0.15s;
}

.start-btn:hover {
  background-color: rgb(98, 59, 155);
}

.download-btn {
  background-color: white;
  color: rgb(108, 117, 125);
  border: 1px solid rgb(108, 117, 125);
  padding: 12px 18px;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.15s, color 0.15s;
}

.download-btn:hover {
  background-color: rgb(108, 117, 125);
  color: white;
}
