p {
  font-family: Arial;
  text-align: center;
  margin: 0;
}

.heading {
  font-size: 27px;
  font-weight: bold;
  margin-top: 22px;
  margin-bottom: 18px;
}

.description {
  margin-bottom: 18px;
}

.learn-link {
  color: rgb(60, 110, 200);
}
